---
import { getCollection, getEntryBySlug, CollectionEntry } from "astro:content";
import PostCard from "../components/PostCard.astro";
import MainLayout from "../layouts/MainLayout.astro";

// const post1 = await getEntryBySlug("blog", "post-1");
// utils imports
const { formatBlogPosts } = await import("../js/utils.js");

const allPosts = await getCollection("blog", ({ data }) => {
  return !data.draft && data.date < new Date();
});
const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts, {
  limit: 3,
});
---

<MainLayout title="Home">
  <section class="container">
    <h2 class="h1">New Blog Posts</h2>
    <div class="post-container">
      <!-- <PostCard data={formattedPosts[0].data} slug={formattedPosts[0].slug} /> -->
      {
        formattedPosts.map((post) => (
          <PostCard data={post.data} slug={post.slug} tagType={"h3"} />
        ))
      }
    </div>
  </section>
  <aside class="container" aria-label="Blog categories">
    <h2 class="h3">Blog Categories</h2>
  </aside>
</MainLayout>
