---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import { getPosts, urlFor } from "../lib";

const posts = await getPosts();
---

<MainLayout title="About">
  <section class="container about" aria-label="About me">
    <h1>Sanity</h1>
    <ul>
      {posts ? posts?.map((post) => <Card post={post} />) : <li>...loading</li>}
    </ul>
  </section>
</MainLayout>
