---
// library imports
import { Icon } from "astro-icon";

// component imports
import Link from "./Link.astro";

// data imports
import navData from "../data/navData";
import Search from "./Search.astro";
---

<nav aria-label="Primary">
  <div class="navbar">
    <a href="/" data-navLink aria-label="Go home">
      <Icon name="avatar" width="60" />
    </a>
    <Search />
    <ul>
      {
        navData.map((item) => (
          <Link
            text={item.name}
            href={item.path}
            style="primary"
            data-navLink
          />
        ))
      }
    </ul>
  </div>
</nav>

<script>
  import "../js/nav.js";
</script>
