---
// library imports
import { Image } from "@astrojs/image/components";

// component imports
import Link from "./Link.astro";

// utils imports
import { slugify, formatDate } from "../js/utils";

const { post } = Astro.props;
console.log(post);
---

<p>{post.data.title}</p>
